<table>
  <thead>
    <th>Titre</th>
    <th>Auteur</th>
    <th>Prix</th>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td>{{row.title}}</td>
      <td>{{row.author}}</td>
      <td>{{row.price| currency:'EUR'}}</td>
      <td>
        <input type="number" [(ngModel)]="row.quantity"/>
      </td>
      <td class="right"> {{row.ht()|currency:'EUR'}}</td>
      <td class="right">{{row.ttc()|currency:'EUR'}}</td>
      <td><button (click)="remove.emit(row)">Supprimer</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">Total</td>
      <td class="right">{{totalTtc()|currency:'EUR'}}</td>
    </tr>
  </tfoot>
</table>
